// fonts
$font-Kaushan: "Kaushan Script", cursive;
$font-weight: 500;

// colors
$color-red: darkred;
$color-green: greenyellow;
$color-white: white;

$color-clair-blue: #e2eafc;
$color-fair-blue: #c1d3fe;
$color-pastel-blue: #abc4ff;
$color-deep-blue: #014f86;

$color-yellow-sun: #ffcc00;
$color-yellow-orange: #ff8c00;
$color-fire-orange: #ea4c15;