body {
    background-image: url(../../img/kanji.PNG);
}

.tittle-container {
    background-color: $color-white;
    border: solid 4px $color-red;
    margin: 10px 20px;

    h1 {
        padding: 10px 20px;
        text-align: center;
        color: $color-red;
        font-family: $font-Kaushan;
        text-transform: capitalize;
        font-size: 3.5rem;
    }
}



.hidden {
    display: none;


}

.form {
    padding: 10px 20px;

    display: flex;
    flex-direction: row;
    gap: 10px;

    input {
        color: $color-red;
        font-family: $font-Kaushan;
        font-weight: $font-weight;
        font-size: 1.6rem;
        padding: 10px 5px;
        border-radius: 3px 30px;
    }
}

.button {
    font-family: $font-Kaushan;
    font-weight: $font-weight;
    font-size: 1.6rem;
    text-transform: capitalize;
    padding: 10px 20px;
    border: none;
    border-radius: 3px 30px;
    background-color: $color-red;
    color: $color-white;
    cursor: pointer;

    &:hover {
        background-color: $color-green;
        color: $color-red;
        border: 3px solid $color-red;
        transform: scale(1.1);
        transition: transform 0.8s;
    }
}



.favorite-anime {
    img {
        border: solid 5px $color-green;
    }
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;

    &__section-favorite {
        border: solid 4px $color-red;
        background-color: $color-white;
        width: 30vw;
        display: flex;
        flex-direction: column;

        h2 {
            color: $color-white;
            font-family: $font-Kaushan;
            font-size: 1.8rem;
            font-weight: $font-weight;
            text-transform: capitalize;
            text-align: center;
            background-color: $color-red;
            margin: 10px;
            padding: 5px;
        }

        &-div {
            gap: 5px;
            padding-bottom: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;

            ul {
                background-color: $color-red;
            }

            li {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: space-between;
                padding: 10px;
                border: solid 3px $color-white;
                list-style: none;

                img {
                    width: 150px;
                }

                i {
                    color: $color-green;
                    font-size: 1.6rem;

                    &:hover {
                        transform: scale(1.1);
                        transition: transform 0.5s;
                    }
                }

                p {
                    color: $color-green;
                    font-family: $font-Kaushan;
                    font-size: 1.4rem;
                }
            }
        }
    }

    &__section-results {

        border: solid 4px $color-red;
        background-color: $color-white;
        width: 50vw;


        h2 {
            color: $color-white;
            font-family: $font-Kaushan;
            font-weight: $font-weight;
            font-size: 1.8rem;
            text-transform: capitalize;
            text-align: center;
            background-color: $color-red;
            margin: 10px;
            padding: 5px;
        }

        &-div {


            &_list-results {
                background-color: $color-white;
                display: flex;
                flex-direction: row;
                justify-content: center;
                flex-wrap: wrap;



                &-element {
                    padding: 10px;
                    border: solid 1px $color-red;
                    list-style: none;
                    width: 180px;
                    margin: 5px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    p {
                        color: $color-red;
                        font-family: $font-Kaushan;
                        font-size: 1.4rem;
                        font-weight: bold;
                        text-align: center;
                    }

                    img {
                        width: 150px;

                    }
                }
            }
        }
    }
}