body {
    background: radial-gradient(circle, transparent 20%, $color-fair-blue 20%, $color-fair-blue 80%, transparent 80%, transparent) 0% 0% / 26px 26px, radial-gradient(circle, transparent 20%, $color-fair-blue 20%, $color-fair-blue 80%, transparent 80%, transparent) 13px 13px / 26px 26px, linear-gradient($color-clair-blue 0.5px, transparent 0.5px) 0px -0.25px / 13px 13px, linear-gradient(90deg, $color-clair-blue 0.5px, $color-fair-blue 0.5px) -0.25px 0px / 13px 13px $color-fair-blue;
    background-size: 26px 26px, 26px 26px, 13px 13px, 13px 13px;
    background-color: $color-fair-blue;
}

.tittle-container {
    box-shadow: inset 0px 0px 59px 0px rgba(120, 139, 255);
    background-color: #e2eafc;
    border-radius: 5px;
    border: solid 4px $color-deep-blue;
    margin: 10px 20px;

    h1 {
        padding: 10px 20px;
        text-align: center;
        color: $color-deep-blue;
        text-shadow: 4px 0px 2px black;
        font-family: $font-Kaushan;
        text-transform: capitalize;
        font-size: 3.5rem;
    }
}



.hidden {
    display: none;
}

.form {
    padding: 10px 20px;

    display: flex;
    flex-direction: row;
    gap: 10px;

    input {
        color: $color-fire-orange;
        font-family: $font-Kaushan;
        font-weight: $font-weight;
        font-size: 1.6rem;
        padding: 10px 10px 10px 15px;
        border-radius: 3px 30px;
        border: 3px solid $color-deep-blue;
        background: linear-gradient(90deg, rgba(226, 234, 252, 1) 0%, rgba(193, 211, 254, 1) 36%, rgba(171, 196, 255, 1) 100%);

        &:focus {
            border: 3px solid $color-yellow-orange;
        }
    }
}

.button {
    font-family: $font-Kaushan;
    font-weight: $font-weight;
    font-size: 1.6rem;
    text-transform: capitalize;
    padding: 10px 20px;
    border: none;
    border-radius: 3px 30px;
    background-color: $color-deep-blue;
    color: $color-clair-blue;
    cursor: pointer;

    &:hover {
        background-color: $color-yellow-sun;
        color: $color-deep-blue;
        border: 3px solid $color-deep-blue;
        transform: scale(1.1);
        transition: transform 0.8s;
    }
}



.favorite-anime {
    img {
        border: solid 5px $color-yellow-sun;
    }
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;

    &__section-favorite {
        border: solid 4px $color-deep-blue;
        border-radius: 5px;
        background-color: $color-clair-blue;
        width: 30vw;
        display: flex;
        flex-direction: column;

        h2 {
            color: $color-white;
            font-family: $font-Kaushan;
            font-size: 1.8rem;
            font-weight: $font-weight;
            text-transform: capitalize;
            text-align: center;
            background-color: $color-deep-blue;
            margin: 10px;
            padding: 5px;
        }

        &-div {
            gap: 5px;
            padding-bottom: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;

            ul {
                background-color: $color-deep-blue;
            }

            li {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: space-between;
                padding: 10px;
                border: solid 3px $color-white;
                list-style: none;

                img {
                    width: 150px;
                }

                i {
                    color: $color-yellow-sun;
                    font-size: 1.6rem;

                    &:hover {
                        transform: scale(1.1);
                        transition: transform 0.5s;
                    }
                }

                p {
                    color: $color-yellow-sun;
                    font-family: $font-Kaushan;
                    font-size: 1.4rem;
                }
            }
        }
    }

    &__section-results {

        border: solid 4px $color-deep-blue;
        border-radius: 5px;
        background-color: $color-clair-blue;
        width: 50vw;


        h2 {
            color: $color-white;
            font-family: $font-Kaushan;
            font-weight: $font-weight;
            font-size: 1.8rem;
            text-transform: capitalize;
            text-align: center;
            background-color: $color-deep-blue;
            margin: 10px;
            padding: 5px;
        }

        &-div {

            &_text {
                background-color: blue;
                color: $color-deep-blue;
                font-family: $font-Kaushan;
                font-size: 1.4rem;
                font-weight: bold;
                text-align: center;
                margin: 10px;
                padding: 5px;
            }

            &_list-results {
                background-color: $color-white;
                display: flex;
                flex-direction: row;
                justify-content: center;
                flex-wrap: wrap;



                &-element {
                    padding: 10px;
                    border: solid 1px $color-red;
                    list-style: none;
                    width: 180px;
                    margin: 5px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    p {
                        color: $color-red;
                        font-family: $font-Kaushan;
                        font-size: 1.4rem;
                        font-weight: bold;
                        text-align: center;
                    }

                    img {
                        width: 150px;

                    }
                }
            }
        }
    }
}